[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/magit/magit.git
[submodule "site-lisp/showoff-mode"]
	path = site-lisp/showoff-mode
	url = git://github.com/developernotes/showoff-mode.git
[submodule "site-lisp/switch-window"]
	path = site-lisp/switch-window
	url = git://github.com/dimitri/switch-window.git
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git