auto-save-list/
server/server
.org-id-locations
ac-comphist.dat
elpa/archive-contents
elpa/
tramp
eshell/
el-get/
init/*.elc
bookmarksurl/
url/
bookmarks
recentf
recentf~
ido.last
ido.last~
/projectile-bookmarks.eld
.DS_Store
network-security.data
smex-items