[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/philjackson/magit.git
[submodule "site-lisp/google-maps"]
	path = site-lisp/google-maps
	url = git://git.naquadah.org/~jd/jd-el.git
[submodule "site-lisp/showoff-mode"]
	path = site-lisp/showoff-mode
	url = git://github.com/developernotes/showoff-mode.git
[submodule "site-lisp/ensime"]
	path = site-lisp/ensime
	url = git://github.com/aemoncannon/ensime.git
